In [3]:
import pandas as pd

log_raw = pd.read_csv('log_raw_1.csv')
log_raw

,Unnamed: 0,event_id,age_segment,event,item_id,item_topic,item_type,source_id,source_topic,source_type,ts,user_id
0,0,2931262,18-25,show,1793260,Красота,native,8388799,История,publisher,1569349657638,2185026
1,1,2931277,18-25,show,7465641,Культура,native,5837959,История,publisher,1569349657971,6845238
2,2,2931285,18-25,show,406073,История,url,2335872,Сад и дача,domain,1569349658408,5244363
3,3,2931247,26-30,show,752665,Путешествия,native,6963489,Здоровье,publisher,1569349657189,7553074
4,4,2931278,26-30,click,6843081,Юмор,url,5427748,Семейные отношения,domain,1569349658054,1317585
...,...,...,...,...,...,...,...,...,...,...,...,...
322386,322386,4396804,31-35,click,7273256,Наука,native,5451530,Сад и дача,publisher,1569351658610,1351271
322387,322387,4396814,31-35,show,4094446,Женская психология,narrative_card,4001238,Психология,publisher,1569351658738,4466455
322388,322388,4396836,18-25,show,5003354,Интересные факты,url,6371686,Полезные советы,domain,1569351659030,4916583
322389,322389,4396846,18-25,click,39740,Отношения,narrative_card,9829090,Семейные отношения,publisher,1569351659233,7962286
322390,322390,4396838,31-35,show,3317563,Общество,url,8280856,Деньги,domain,1569351659036,2720789

In [5]:
    
log_raw['event_time'] = log_raw['ts'] // 1000
log_raw['event_time'] = pd.to_datetime(log_raw['event_time'], unit = 's')
log_raw['date_time'] = log_raw['event_time'].dt.date
log_raw

,Unnamed: 0,event_id,age_segment,event,item_id,item_topic,item_type,source_id,source_topic,source_type,ts,user_id,event_time,date_time
0,0,2931262,18-25,show,1793260,Красота,native,8388799,История,publisher,1569349657638,2185026,2019-09-24 18:27:37,2019-09-24
1,1,2931277,18-25,show,7465641,Культура,native,5837959,История,publisher,1569349657971,6845238,2019-09-24 18:27:37,2019-09-24
2,2,2931285,18-25,show,406073,История,url,2335872,Сад и дача,domain,1569349658408,5244363,2019-09-24 18:27:38,2019-09-24
3,3,2931247,26-30,show,752665,Путешествия,native,6963489,Здоровье,publisher,1569349657189,7553074,2019-09-24 18:27:37,2019-09-24
4,4,2931278,26-30,click,6843081,Юмор,url,5427748,Семейные отношения,domain,1569349658054,1317585,2019-09-24 18:27:38,2019-09-24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
322386,322386,4396804,31-35,click,7273256,Наука,native,5451530,Сад и дача,publisher,1569351658610,1351271,2019-09-24 19:00:58,2019-09-24
322387,322387,4396814,31-35,show,4094446,Женская психология,narrative_card,4001238,Психология,publisher,1569351658738,4466455,2019-09-24 19:00:58,2019-09-24
322388,322388,4396836,18-25,show,5003354,Интересные факты,url,6371686,Полезные советы,domain,1569351659030,4916583,2019-09-24 19:00:59,2019-09-24
322389,322389,4396846,18-25,click,39740,Отношения,narrative_card,9829090,Семейные отношения,publisher,1569351659233,7962286,2019-09-24 19:00:59,2019-09-24
322390,322390,4396838,31-35,show,3317563,Общество,url,8280856,Деньги,domain,1569351659036,2720789,2019-09-24 19:00:59,2019-09-24

In [6]:
log_raw.to_csv('dash_visits.csv', index = False)